# `open`

```
mode = 'r' -> read
mode = 'w' -> write
mode = 'a' -> append
```

In [16]:
# Method1

f = open('file.txt',mode='r')

In [17]:
txt= f.read()

In [18]:
print(txt)

My Name is sandeep

In [19]:
txt

'My Name is sandeep'

In [20]:
f.close()

In [21]:
# Method 2
with open('file.txt', mode = 'r') as f:
    txt = f.readlines()
    #txt1 = f.read()
    f.close()

In [22]:
txt

['My Name is sandeep']

In [23]:
with open('file.txt', mode = 'r') as f:
    #txt = f.readlines()
    txt1 = f.read()
    f.close()

In [24]:
txt1.split(sep='\n')

['My Name is sandeep']

In [25]:
with open('iris.data', mode = 'r') as f:
    txt = f.readlines()
    #txt1 = f.read()
    f.close()

FileNotFoundError: [Errno 2] No such file or directory: 'iris.data'

In [ ]:
iris = txt

# `mode = 'w'`

In [26]:
with open(mode = 'w' , file='file1.txt') as f:
    text = 'Python Programming'
    f.write(text+ '\n')
    f.close()

## Create emp.csv file

|Name|Loc|PLace|
|----|---|-----|
|Srikanth|Bowenpally|Hyderabad|
|RaghuRam|ChandaNagar|Hyderabad|
|Ramya|Shamshabad|Hyderabad|

|Sl.No|Name|
|-----|----|
|1|Sandeep
|2|Devi|
|3|Akhilesh|

In [27]:
with open('emp.csv' , mode = 'w') as f:
    info = 'Name,Loc,Place\nSrikanth,Bowenpally,Hyderabad\nRaghuRam,ChandaNagar,Hyderabad\nRamya,Shamshabad,Hyderabad'
    f.write(info+'\n')
    f.close()

In [28]:
name = input('Enter your name: ')
Loc = input('Enter you Location: ')
Place = input('Enter you place: ')
write = name+','+Loc+','+Place

with open('emp.csv', mode='a') as f:
    f.write(write+'\n')
    f.close()
print('Your Information is saved sucessfully !!!')

Enter your name: Sam
Enter you Location: Siripuram
Enter you place: Vizag
Your Information is saved sucessfully !!!

In [30]:
import pandas as pd
import numpy as np

data = pd.read_csv('emp.csv')
data

       Name          Loc      Place
0  Srikanth   Bowenpally  Hyderabad
1  RaghuRam  ChandaNagar  Hyderabad
2     Ramya   Shamshabad  Hyderabad
3       Sam    Siripuram      Vizag