[![innomatics_1.png](https://s22.postimg.cc/vh6rctfn5/innomatics_1.png)](https://www.innomatics.in/)
[www.innomatics.in](https:/innomatics.in/)

###  LIST

Create a list of numbers
> nums = [1,2,3,4]

In [30]:
nums = [1,2,3,4]
nums

[1, 2, 3, 4]

** 1. Remove number "3" in a list**

In [31]:
# Method 1 
del nums[2]
nums

[1, 2, 4]

In [14]:
# Method 2
nums.remove(3)
nums

[1, 2, 4]

In [16]:
# Method 3
nums.pop(2)
nums

[1, 2, 4]

** Remove last element in the list **
> hint: remove 4 (L.pop)

In [32]:
nums.pop()

4

**Check nums.pop(0) ** 
> write you comment after executing this command

In [33]:
nums.pop(0) # removes zeroth position

1

 **Extent** list (3,4)
 > **hint: nums.extend([3,4])

In [34]:
# Method1
nums.extend([3,4])
nums

[2, 3, 4]

In [27]:
#Method 2
nums+[3,4]

[2, 3, 4]

**Insert number "1" in 0th position**

In [35]:
nums.insert(0,1)
nums

[1, 2, 3, 4]

**Insert "two-and-half" in 2nd position**

In [36]:
nums.insert(2,'two-and-half')

In [37]:
nums

[1, 2, 'two-and-half', 3, 4]

**2. Create a list with name plist with phrase = "Don't panic!"**

In [38]:
phrase = "Don't panic!"

*convert into list*

In [39]:
plist = list(phrase)

In [41]:
plist

['D', 'o', 'n', "'", 't', ' ', 'p', 'a', 'n', 'i', 'c', '!']

Remove ** '** and **!** in the list

In [42]:
plist.remove("'")
plist.remove("!")

In [43]:
plist

['D', 'o', 'n', 't', ' ', 'p', 'a', 'n', 'i', 'c']

**Remove "p" , "a", "n","D" and extend the list at the last**

In [44]:
plist.extend([plist.pop(5),plist.pop(5),plist.pop(5),plist.pop(0)])

In [45]:
plist

['o', 'n', 't', ' ', 'i', 'c', 'p', 'a', 'n', 'D']

**Explain how ?**

**Joining List**

**Extract last 4 element in plist and append "a" and name as plist1**

- Extract list

In [46]:
plist1 = plist[-4:]
plist1

['p', 'a', 'n', 'D']

- append list

In [47]:
plist1.append('a')

In [48]:
plist1

['p', 'a', 'n', 'D', 'a']

- Join list

In [21]:
"".join(plist1)

'panDa'

###  Tuples

Create a tuples for numbers 31,24,35,85 as nums

In [ ]:
# CODE HERE

data type <class 'tuple'>
(31, 24, 35, 85)

** Remove number "35" in a tuple**

*Hint:* Convert into list

In [49]:
# CODE HERE

(31, 24, 85)

**Extent** tuple (85,19)

In [ ]:
# CODE HERE

(31, 24, 85, 85, 19)

# [Innomatics Technological Hub](https:/innomatics.in/)
[www.innomatics.in](https:/innomatics.in/)