In [3]:

# Exercise 19

import pymysql

conn=pymysql.connect(host='localhost',user='root',password='',db='samdb')

a=conn.cursor()

sql = 'SELECT * from `items`;'
a.execute(sql)
countrow=a.execute(sql)

print('Number of rows :',countrow)
data = a.fetchone()
print(data)

OperationalError: (2003, "Can't connect to MySQL server on 'localhost' ([Errno 61] Connection refused)")

In [12]:
# 02-Strings
string1 = 'innomatics hub'

In [13]:
type(string1)

str

In [14]:
# It counts the characters along with spaces
len(string1)

14

In [15]:
# indexing
# It starts from zero '0'
string1

'innomatics hub'

In [16]:
# string1[index_number]
string1[6]

't'

In [18]:
# I n n o m a t i c s
# 0 1 2 3 4 5 6 7 8 9

In [24]:
# Method1
# Tuple use , rather than +

string1[0] , string1[6]

('i', 't')

In [30]:
# Method 2 range
string1[2:4]

'no'

> Exact last letter in Innomatics

In [51]:
# position  of t is 6 (starts from six till the end 10)
string1[6:10]

'tics'

In [69]:
# Exact last letter
string1[-1]

'b'

In [71]:
string1='innomatics'

In [82]:
# last three characters
#  0 1 2 3 4 5 6 7 8 9
#  i n n o m a t i c s
#-10-9-8-7-6-5-4-3-2-1
string1[7:]

'ics'

In [86]:
# index : -. index position to end
string1[-3:]

'ics'

In [88]:
# :index -> index position to end
string1[8:11]

'cs'

In [96]:
string1[3::]

'omatics'

In [102]:
# get alternative characters in string
string1[0:]

'innomatics'

In [110]:
# start:stop:step
string1[::2]

'inmtc'

In [111]:
string2='innomatics hub'

In [118]:
#print alternative char hub wit 0
string2[3::2]

'oaishb'

In [126]:
# string in reverse order

string2[::-1]

'buh scitamonni'

In [146]:
# print innomatics hub 'scit'
#start:stop:step
string2[9:5:-1]

'scit'

In [149]:
# Operations
string1+string2

'innomaticsinnomatics hub'

In [154]:
# strings are immutable "can't midify"
string2.lower()

'innomatics hub'

In [155]:
# tab an Shift+tab can give details of methods

string2.capitalize()

'INNOMATICS HUB'

In [164]:
#it return first found
# sep key we call it as de limiter
string2.index('n')
string2.split(sep='a')

['innom', 'tics hub']

In [1]:
x = [1, 2, 3]
x.extend([4, 5])
print (x)

[1, 2, 3, 4, 5]