# 
def

def say_hello(){

    ...
    
    ...
    
}

In [1]:
def say_hello():
    #a 1 tap = indentation
    print('Hello')

In [4]:
say_hello()

Hello

In [5]:
def say_hello(name):
    #a 1 tap = indentation
    print('Hello %s'%name)

In [8]:
say_hello('Sandeep')

Hello Sandeep

# return

In [12]:
# addtion of two value
def add_num(a,b):
    additon = a +b
    return additon

In [13]:
add_num(3,4)

7

simple way

In [14]:
def add_num1(a,b):
    return a+b

In [15]:
add_num1(4,6)

10

more simple

In [16]:
def add_num2(a,b): return a+b

In [17]:
add_num2(7,8)

15

more more simple
- remove  return
- remove add_num2
- remove braces
- replace def with lambda

In [19]:
add_num3 = lambda a,b: a+b

In [20]:
add_num3(4,6)

10

In [21]:
# create list of number from 0 to 50

- generator function range(start, stop, step)

In [22]:
l = range(0,51,1)

In [29]:
l = list(l)
print(l)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50]

In [30]:
# print only even numbers in a list "l"

In [33]:
4 % 2 # return remainder

0

In [38]:
even = []
odd = []
for i in l:
    if i % 2 == 0:
        even.append(i)
        
    else:
        odd.append(i)
        
print(even)
print(odd)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50]
[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49]

# filter and lambda

In [42]:
temp = lambda a: a%2 == 0

In [47]:
print(l)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50]

In [53]:
filter(lambda a:a%2 ==0, l)