# List
- collection of elements
- different data types

In [1]:
# creating list
my_list = [1,2.0,'strings',True]
my_list

[1, 2.0, 'strings', True]

# list of cars
'suzuki', 'bmw', 'ford' 1200, 3000, 1500

In [46]:
my_list2 = ['suzuki', 'bmw', 'ford' ,1200, 3000, 1500]
my_list2

['suzuki', 'bmw', 'ford', 1200, 3000, 1500]

In [47]:
type(my_list2)

list

# indexing

In [8]:
type(my_list2[0])

str

In [11]:
var = my_list2[0]
var

'suzuki'

In [12]:
var[0]

's'

In [13]:
my_list2[0][0]

's'

In [24]:
my_list2.reverse()

In [26]:
my_list2

[1500, 3000, 1200, 'ford', 'bmw', 'suzuki']

In [27]:
# EXTRACT FIRST THREE ELEMENTS

In [31]:
my_list2[0:3]

[1500, 3000, 1200]

In [40]:
# start , stop, step
my_list2[2::-1]

[1200, 3000, 1500]

# Methods in list

In [ ]:
# shift + tab for syntax

In [48]:
my_list2.append('innomatics')
my_list2

['suzuki', 'bmw', 'ford', 1200, 3000, 1500, 'innomatics']

In [49]:
my_list2.append(['Technology','Hub'])
print(my_list2)

['suzuki', 'bmw', 'ford', 1200, 3000, 1500, 'innomatics', ['Technology', 'Hub']]

In [50]:
# extend
my_list2.extend(['Technology','Hub'])
print(my_list2)

['suzuki', 'bmw', 'ford', 1200, 3000, 1500, 'innomatics', ['Technology', 'Hub'], 'Technology', 'Hub']

In [52]:
my_list2.count('Technology')

1

In [55]:
my_list2.index('bmw') # return index of elements

1

In [56]:
my_list2.pop() # last value first out

'Hub'

In [57]:
my_list2

['suzuki',
 'bmw',
 'ford',
 1200,
 3000,
 1500,
 'innomatics',
 ['Technology', 'Hub'],
 'Technology']

In [58]:
my_list2.pop(3)

1200

In [59]:
my_list2

['suzuki',
 'bmw',
 'ford',
 3000,
 1500,
 'innomatics',
 ['Technology', 'Hub'],
 'Technology']

In [61]:
del my_list2[3]

In [62]:
my_list2

['suzuki',
 'bmw',
 'ford',
 1500,
 'innomatics',
 ['Technology', 'Hub'],
 'Technology']

In [63]:
my_list2

['suzuki',
 'bmw',
 'ford',
 1500,
 'innomatics',
 ['Technology', 'Hub'],
 'Technology']

In [64]:
my_list2.insert(0,'swift')
my_list2

['swift',
 'suzuki',
 'bmw',
 'ford',
 1500,
 'innomatics',
 ['Technology', 'Hub'],
 'Technology']

In [65]:
my_list2[0] = 'swifts' # replace
my_list2

['swifts',
 'suzuki',
 'bmw',
 'ford',
 1500,
 'innomatics',
 ['Technology', 'Hub'],
 'Technology']

# Tuple 
- Tuple in immutable whereas list is mutable

In [2]:
my_tuple = (1,2,3,'innomatics','technology','hub')
my_tuple

(1, 2, 3, 'innomatics', 'technology', 'hub')

In [3]:
my_tuple[0]

1

In [4]:
del my_tuple[0] # force delete

TypeError: 'tuple' object doesn't support item deletion

In [5]:
my_tuple + my_tuple

(1,
 2,
 3,
 'innomatics',
 'technology',
 'hub',
 1,
 2,
 3,
 'innomatics',
 'technology',
 'hub')

In [6]:
my_tuple[0] = 'srikanth'

TypeError: 'tuple' object does not support item assignment

In [7]:
my_tup = my_tuple *2

In [8]:
print(my_tup)

(1, 2, 3, 'innomatics', 'technology', 'hub', 1, 2, 3, 'innomatics', 'technology', 'hub')

# Sets

- unique elements

In [9]:
my_set1 = set(my_tup)

# create set by {  }

creating set {4,7,'srikanth',True}

In [10]:
my_set = {4,7,'srikanth',True}
my_set

{4, 7, True, 'srikanth'}

### append value "innomatics" into set

In [11]:
my_set.add('innomatics')
my_set

{4, 7, True, 'innomatics', 'srikanth'}

# set1-  set

In [12]:
print('='*10+'set1'+'='*10)
print(my_set1)
print('='*10+'set'+'='*10)

print(my_set)

==========set1==========
{1, 2, 3, 'hub', 'technology', 'innomatics'}
==========set==========
{True, 4, 'srikanth', 7, 'innomatics'}

In [13]:
my_set1-my_set # remove intersection values in set1

{2, 3, 'hub', 'technology'}

In [14]:
my_set-my_set1 # it remove intersection value in set

{4, 7, 'srikanth'}

In [15]:
my_set.intersection(my_set1)

{True, 'innomatics'}

In [16]:
my_set1.intersection(my_set)

{True, 'innomatics'}

In [17]:
my_set.difference_update(my_set1)
my_set

{4, 7, 'srikanth'}

# Dictionary
 - JSON
 - assign key value to index

In [44]:
my_dict = {'Name':'srikanth','Age':27,'Place':'Hyderabad'}
my_dict

{'Name': 'srikanth', 'Age': 27, 'Place': 'Hyderabad'}

In [45]:
my_dict['Name']

'srikanth'

In [46]:
my_dict = {'Name':['srikanth','Sandeep'],'Age':[27,26],'Place':['Hyderabad','Hyd']}
my_dict

{'Name': ['srikanth', 'Sandeep'],
 'Age': [27, 26],
 'Place': ['Hyderabad', 'Hyd']}

In [47]:
import pandas as pd # pannel datasets

In [48]:
table = pd.DataFrame(my_dict)

In [49]:
table

       Name  Age      Place
0  srikanth   27  Hyderabad
1   Sandeep   26        Hyd

In [50]:
# dictionary

In [51]:
my_dict.keys()

dict_keys(['Name', 'Age', 'Place'])

In [52]:
my_dict.get('Name')

['srikanth', 'Sandeep']

In [53]:
my_dict['Name']

['srikanth', 'Sandeep']

In [54]:
Dict = {'Tim': 18,'Charlie':12,'Tiffany':22,'Robert':25}	
Boys = {'Tim': 18,'Charlie':12,'Robert':25}
Girls = {'Tiffany':22}	
studentX=Boys.copy()
studentY=Girls.copy()
print(studentX)
print(studentY)

{'Tim': 18, 'Charlie': 12, 'Robert': 25}
{'Tiffany': 22}

In [55]:
my_dict['Name']

['srikanth', 'Sandeep']

In [56]:
Dict = {'Tim': 18,'Charlie':12,'Tiffany':22,'Robert':25}	
Boys = {'Tim': 18,'Charlie':12,'Robert':25}
Girls = {'Tiffany':22}	
studentX=my_dict.copy()
studentY=Girls.copy()
print(studentX)
print(studentY)

{'Name': ['srikanth', 'Sandeep'], 'Age': [27, 26], 'Place': ['Hyderabad', 'Hyd']}
{'Tiffany': 22}

In [57]:
my_dict.update({'Name':'sam'})

In [63]:
my_dict.update({'Name':'sam'})
print(my_dict)

{'Name': 'sam', 'Age': [27, 26], 'Place': ['Hyderabad', 'Hyd']}

In [64]:
my_dict.update({'Name':['Srikanth','Sandeep']})

In [65]:
my_dict

{'Name': ['Srikanth', 'Sandeep'],
 'Age': [27, 26],
 'Place': ['Hyderabad', 'Hyd']}